    <header>
    <h1>User Profile</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <section class="main-content">
        {{#if signedIn}}
            <h2>Welcome, {{ username }}!</h2>
            <img src="{{ userPhoto }}" alt="{{ username }}'s Profile Picture">
            <p>Status: Signed In</p>
        {{else}}
            <p>Please sign in to view your profile.</p>
        {{/if}}
    </section>

